.scroll-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  min-width: 280px;
}

.n-list {
  flex: 1;
  overflow-y: scroll;

  .selected {
    outline: 2px solid #00d60d;
    outline-offset: -2px;
    background-color: #eaffdb;
    border-radius: 0.18em;
    //box-shadow: inset 0 0 20px 20px #99c79c;
  }

  &__item {
    //font-size: 0.8em;
    //height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    user-select: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.07);
    }
  }

  &__title {
    pointer-events: none;
  }

  &__tags {
    font-style: italic;

    a {
      cursor: pointer;
      margin-left: .5em;
      color: rgba(0, 0, 0, 0.67) !important;

      &:hover {
        background-color: rgb(184, 181, 255) !important;
      }
    }
  }
}

.text-ru, .tags-ru {
  opacity: 0;
  height: 0;
  pointer-events: none;
  clip-path: inset(100%);
  position: fixed;
  visibility: hidden;
  top: 0;
}