* {
  //outline: 1px solid rgba(0, 0, 0, 0.16);
  //margin: 1px;
}

body {
  height: 100vh;
  overflow: hidden;
  font-size: .8em;
}

.no-scroll {
  overflow: hidden;
}

.no-resize {
  resize: none;
}

.no-select {
  -webkit-user-select: none;
}

.ev-none {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  //border-radius: 20px;
  border: transparent;
}