.tui-image-editor-help-menu.top .tui-image-editor-item {
  padding-top: 0 !important;
}

.tui-colorpicker-clearfix li input {
  height: 10px !important;
  width: 10px !important;
}

.tui-image-editor-container .color-picker-control {
  width: auto !important;
}

.tui-image-editor-header-logo {
  opacity: 0;
}

.tui-image-editor-header-buttons > *:nth-child(1) {
  display: none!important;
}

.operation {
  //padding-right: 16px;

  //& > * {
  //  margin: .1em;
  //}

  &__img {
    //height: 240px;
    overflow: auto;
    border: 1px solid #dee2e6;
    border-radius: 0.18em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    > * {
      text-align: center;
    }

    & img {
      height: 100px;
      margin: .2rem;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: .375rem;
    }
  }

  &__prompt {
    font-size: 1em !important;
  }
}

.flex-stretch {
  flex: 1;
}

.options {
  margin: 0 .2em;

  & > * {
    margin: .1em;
  }

  div.tab-content {
    display: contents !important;
  }

  div.tab-content > .active {
    display: flex
  }

  &__title {
    font-weight: 500;
    //border-radius: 0.18em;
    //border: 1px solid #dee2e6;
    //font-size: .8em;
  }

  &__tags {
    border: 1px solid #dee2e6;
    border-radius: 0.18em;
    font-style: italic;
    color: #0024d7;
    //resize: none;
    height: 3em;
    //font-size: .8em;
  }

  &__img {
    min-height: 100px;
    overflow: auto;
    border: 1px solid #dee2e6;
    border-radius: 0.18em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    & img {
      height: 100px;
    }
  }

  &__control > * {
    margin: 0.1em 0.2em;
  }

  &__prompt {
    font-size: 1em !important;
  }
}